.box-king {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-top: 20px;
  border: 2px solid rgb(15, 14, 19);
  box-shadow: 10px 10px rgb(15, 14, 19);
  border-radius: 5px;
}

.title {
  background-color: #2B2A30;
  font-family: 'Stardos Stencil', cursive;
  color: #fdfdfd;
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}